.container {
  width: 70%;
  margin: 10rem auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  }

.btn{
 font-size: 2rem;
 text-decoration: none;
 color: #fff;
 background-color: #393E46;
 border-radius: 3rem;
 border: solid #fff .2rem;
 padding: 1rem 2rem;
}



